{% extends 'base.html.twig' %}

{% block body %}

    {% for type, messages in app.flashes %}
        {% for un_message in messages %}
            <p class="alert alert-{{type}}">{{ un_message }}</p>
        {% endfor %}
    {% endfor %}

    <h1>Publications - Admin</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Hashtag</th>
                <th>Post</th>
                <th>edit</th>
                <th>suppr</th>
            </tr>
        </thead>
        <tbody>
            {% for p in publi %}
                <tr>
                    <td>{{p.username}}</td>
                    <td>
                        {% for h in p.hashtag %}
                            {{h}}
                        {% endfor %}
                    </td>
                    <td>{{p.post}}</td>
                    <td><a href={{ path('une_publication', {'id':p.id}) }}
                        class="btn btn-success">edit</a></td>
                    <td><a href={{ path('delete_publication', {'id':p.id}) }}
                        class="btn btn-danger">supprimer</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{form(ajout)}}
{% endblock %}
