{% extends 'base.html.twig' %}

{% block title %}Mes notifications || Anky{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('/css/social.css')}}">
{% endblock %}

{% block body %}

    <section class="absolute social">

        <header>
            <a href={{path('mon-compte')}} alt="Retourner à mon dashboard | Anky">
                <i class="fas fa-chevron-left"></i>
            </a>

            <img src="/img/logo-small.svg" title="Logo de Anky | Version medium">

            <a href={{ path('social-media')}} alt="Voir mes notifications">
                <i class="far fa-bell"></i>
            </a>
        </header>   

        <main>
            <h1>Mon fil d'actualité</h1>

            {% for p in publi %}

            {% set errors = 0 %}
            {% set thisSerie = '' %}
            {% for kw in user.keywordsBloque %} 
                {% for hashtag in p.hashtag %}
                    {% if kw|lower in p.post|lower or kw|lower == hashtag|lower %}
                        {% set errors = errors + 1 %}
                        {% for s in serie %}
                            {% for k in s.keywords %}
                                {% if kw == k %}
                                    {% set thisSerie = s.nom %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}

            {% if errors > 0 %}
            <section class="publication blocked">
                <div class="filtre">
                    <p>ANKY a masqué ce contenu pour ne pas te spoiler <span>{{thisSerie}}</span></p>
                    <p><span>Appuis pour l'afficher à tes risques et périls 😱</span></p>
                    <img src="/img/logo-small.svg" title="Logo de Anky | Verson medium">
                </div>
            {% else %}
            <section class="publication">
            {% endif %}
                <article class="publi-header">
                    <div class="pp">
                        <i class="fas fa-user-shield"></i>
                    </div>
                    <div>
                        <p>{{p.username}}</p>
                    </div>
                </article>

                <article class="publi-main">
                    <p>#{{ p.hashtag|join(' #') }}</p>
                    <p>{{p.post}}</p>
                </article>
                
                <article class="publi-footer">
                    <div>
                        <i class="far fa-heart"></i>
                        <p>{{random(1, 200)}},{{random(1,9)}} k</p>
                    </div>

                    <div>
                        <i class="far fa-comment-dots"></i>
                        <p>{{random(1, 200)}},{{random(1,9)}} k</p>
                    </div>

                    <div>
                        <i class="far fa-share-square"></i>
                        <p>{{random(1, 200)}},{{random(1,9)}} k</p>
                    </div>
                </article>
            </section>

            {% endfor %}

        </main>

        <footer class="menu">
            <nav>
                <ul>
                    <li>
                        <a href="#" class="highlight" title="J'accède au menu"><img src="/img/burger.png" alt="Pictogramme d'un menu burger"></i></a>
                    </li>
                    <li>
                        <a href="#" class="highlight" title="Je recherche un mot, une série, ou ce que je veux"><img src="/img/loupe.png" alt="Pictogramme d'une loupe"></i></a>
                    </li>
                    <li>
                        <a href={{path('lock', {'id':'1'})}} title="Besoin d'aide ? Lock, le Chat Bot d'Anky, est là pour vous aider !">
                            <img src="/img/hexagon.svg" alt="Hexagone">
                            <img src="/img/ankylochoups.svg" alt="Lock, Chat Bot d'Anky">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="highlight" title="Je jette un œil à toutes mes séries épinglées"><img src="/img/bookmark.png" alt="Pictogramme d'un marque page"></a>
                    </li>
                    <li>
                        <a href="#" class="highlight" title="J'accède à mon dashboard"><img src="/img/canva.png" alt="Pictogramme représentant 4 carrés, utilisé pour symboliser le dashboard"></a>
                    </li>
                </ul>
            </nav>
        </footer>
    </section>

    <script src="/script/overlay.js"></script>
    <script src="/script/likeShareComment.js"></script>

{% endblock %}
