{% extends 'base.html.twig' %}

{% block body %}

    {% for type, messages in app.flashes %}
        {% for un_message in messages %}
            <p class="alert alert-{{type}}">{{ un_message }}</p>
        {% endfor %}
    {% endfor %}

    <h1>Séries - Admin</h1>

    {% if categorie is empty %}
        <p>Aucune catégorie trouvée</p>
    {% else %}
        <h2>Catégories</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Catégorie</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for c in categorie%}
                    <tr>
                        <td>{{ c.cat }}</td>
                        <td><a href={{ path('categorie_edit', {'id':c.id}) }}
                        class="btn btn-success">edit</a></td>
                        <td><a href={{ path('categorie_delete', {'id':c.id}) }}
                        class="btn btn-danger">supprimer</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <h3>Ajouter</h3>
    {{ form(ajoutCategorie) }}

    <hr>

    {% if genre is empty %}
        <p>Aucun genre trouvé</p>
    {% else %}
        <h2>Genre</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Genre</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for g in genre%}
                    <tr>
                        <td>{{ g.gen }}</td>
                        <td><a href={{ path('genre_edit', {'id':g.id}) }}
                        class="btn btn-success">edit</a></td>
                        <td><a href={{ path('genre_delete', {'id':g.id}) }}
                        class="btn btn-danger">supprimer</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <h3>Ajouter</h3>
    {{ form(ajoutGenre) }}


    <hr>

    {% if serie is empty %}
        <p>Aucune série trouvé</p>
    {% else %}
        <h2>Séries</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>keywords</th>
                    <th>categorie</th>
                    <th>genre</th>
                    <th>resumé</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for s in serie %}
                    <tr>
                        <td>{{ s.nom }}</td>
                        <td>
                            {% for kw in s.keywords %}
                                {{kw}}
                            {% else %}
                                Aucun keywords
                            {% endfor %}
                            {#{ s.keywords|join(',') }#}
                        </td>
                        <td>
                            {% for categorie in s.categorie %}
                                {{categorie}}
                            {% else %}
                                Aucune catégorie
                            {% endfor %}
                            {#{ s.categorie|join(',') }#}
                        </td>
                        <td>
                            {% for gen in s.genre %}
                                {{gen}}
                            {% else %}
                                Aucun genre
                            {% endfor %}
                            {#{ s.genre|join(',') }#}
                        </td>
                        <td>{{ s.resume }}</td>
                        <td><a href={{ path('serie_edit', {'id':s.id}) }}
                        class="btn btn-success">edit</a></td>
                        <td><a href={{ path('serie_delete', {'id':s.id}) }}
                        class="btn btn-danger">supprimer</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <h3>Ajouter</h3>
    {{ form(ajoutSerie) }}
{% endblock %}
