{% extends 'base.html.twig' %}

{% block title %}Mon dashboard || Anky{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('/css/loader.css')}}">
    <link rel="stylesheet" href="{{asset('/css/dashboard.css')}}">
{% endblock %}

{% block body %}

    <section class="absolute dashboard">

    <div class="loader">
        <img src="/img/loader.gif" title="Animation de chargement | Anky">
    </div>

        <header>
            <a href="#" alt="Retourner à mon dashboard | Anky">
                <i class="fas fa-chevron-left"></i>
            </a>

            <img src="/img/logo-small.svg" title="Logo de Anky | Version medium">

            <a href={{ path('social-media')}} alt="Voir mes notifications">
                <i class="far fa-bell"></i>
            </a>
        </header>

        <main>
            <h1>Mon dashboard <strong>Anky</strong></h1>

            {% if user.seriesBloque != null or user.seriesBloque != [] %}

            <section class="container">
                <h2>Mes séries bloquées</h2>

                <div class="nowrap">
                {% set counter = 0 %}
                {% for s in serie %}
                    {% for s_blocked in user.seriesBloque %}

                        {% if s.nom == s_blocked %}
                        {% set counter = counter + 1 %}
                        
                        {% if counter > 1 %}
                        <article>
                        {% else %}
                        <article class="single">
                        {% endif %}
                            <img src="{{ asset('/uploads/' ~ s.image) }}" alt="Image provenant de la série {{ s.nom }}">
                            <div class="overlay">
                                <p>{{s.nom}}</p>
                                <p>{{ random(50, 1000)}} spoils détectés</p>
                                <div class="btn-bloquer">
                                    <a href={{ path('details-serie', {'id': s.id}) }} title="J'accède à la page pour débloquer la série {{ s.nom }}" class="blocked">Débloquer</a>
                                </div>
                            </div>
                            <div class="epingle"> 
                                <i class="far fa-bookmark"></i>
                            </div>
                        </article>

                        {% endif %}

                    {% endfor %}
                {% endfor %}
                </div>

            </section>

            {% endif %}

            <section class="container">
                <h2>Les plus spoilées<br>de la semaine</h2>

                <div class="nowrap">
                {% for s in serie %}
                    {% for c in s.categorie %}

                        {% if c == "Les plus spoilées" %}

                        <article>
                            <img src="{{ asset('/uploads/' ~ s.image) }}" alt="Image provenant de la série {{ s.nom }}">
                            <div class="overlay">
                                <p>{{s.nom}}</p>
                                <p>{{ random(1050, 1500)}} spoils détectés</p>
                                <div class="btn-bloquer">
                                    <a href={{ path('details-serie', {'id': s.id}) }} title="J'accède à la page pour bloquer la série {{ s.nom }}">Bloquer</a>
                                </div>
                            </div>
                            <div class="epingle"> 
                                <i class="far fa-bookmark"></i>
                            </div>
                        </article>

                        {% endif %}

                    {% endfor %}
                {% endfor %}
                </div>

            </section>

            <section class="container">
                <h2>Pour moi</h2>

                <div class="nowrap">
                {% for s in serie %}
                    {% for c in s.categorie %}

                        {% if c == "Pour moi" %}

                        <article>
                            <img src="{{ asset('/uploads/' ~ s.image) }}" alt="Image provenant de la série {{ s.nom }}">
                            <div class="overlay">
                                <p>{{s.nom}}</p>
                                <p>{{ random(50, 1000)}} spoils détectés</p>
                                <div class="btn-bloquer">
                                    <a href={{ path('details-serie', {'id': s.id}) }} title="J'accède à la page pour bloquer la série {{ s.nom }}">Bloquer</a>
                                </div>
                            </div>
                            <div class="epingle">
                                <i class="far fa-bookmark"></i>
                            </div>
                        </article>

                        {% endif %}

                    {% endfor %}
                {% endfor %}
                </div>

            </section>

            <section class="container">
                <h2>Nouveautés</h2>

                <div class="nowrap">
                {% for s in serie %}
                    {% for c in s.categorie %}

                        {% if c == "Nouveautés" %}

                        <article>
                            <img src="{{ asset('/uploads/' ~ s.image) }}" alt="Image provenant de la série {{ s.nom }}">
                            <div class="overlay">
                                <p>{{s.nom}}</p>
                                <p>{{ random(50, 1000)}} spoils détectés</p>
                                <div class="btn-bloquer">
                                    <a href={{ path('details-serie', {'id': s.id}) }} title="J'accède à la page pour bloquer la série {{ s.nom }}">Bloquer</a>
                                </div>
                            </div>
                            <div class="epingle">
                                <i class="far fa-bookmark"></i>
                            </div>
                        </article>

                        {% endif %}

                    {% endfor %}
                {% endfor %}
                </div>

            </section>

            <section class="container">
                <h2>Actualité</h2>

                <div class="nowrap">
                {% for s in serie %}
                    {% for c in s.categorie %}

                        {% if c == "Actualité" %}

                        <article>
                            <img src="{{ asset('/uploads/' ~ s.image) }}" alt="Image provenant de la série {{ s.nom }}">
                            <div class="overlay">
                                <p>{{s.nom}}</p>
                                <p>{{ random(50, 1000)}} spoils détectés</p>
                                <div class="btn-bloquer">
                                    <a href={{ path('details-serie', {'id': s.id}) }} title="J'accède à la page pour bloquer la série {{ s.nom }}">Bloquer</a>
                                </div>
                            </div>
                            <div class="epingle">
                                <i class="far fa-bookmark"></i>
                            </div>
                        </article>

                        {% endif %}

                    {% endfor %}
                {% endfor %}
                </div>

            </section>

            {% for genre_u in user.genre %}

            <section class="container">
                <h2>{{genre_u}}</h2>
                <div class="nowrap">
                
                    {% for s in serie %}
                        {% for genre_s in s.genre %}
                            {% if genre_u == genre_s %}

                            <article>
                                <img src="{{ asset('/uploads/' ~ s.image) }}" alt="Image provenant de la série {{ s.nom }}">
                                <div class="overlay">
                                    <p>{{s.nom}}</p>
                                    <p>{{ random(50, 1000)}} spoils détectés</p>
                                    <div class="btn-bloquer">
                                        <a href={{ path('details-serie', {'id': s.id}) }} title="J'accède à la page pour bloquer la série {{ s.nom }}">Bloquer</a>
                                    </div>
                                </div>
                                <div class="epingle"> 
                                    <i class="far fa-bookmark"></i>
                                </div>
                            </article>

                            {% endif %}    
                        {% endfor %}    
                    {% endfor %}
                
                </div>
            </section>

            {% endfor %}

            <a href={{ path('app_logout') }} title="Je me déconnecte"><i class="fas fa-power-off"></i> Déconnexion</a>
        </main>

        <footer class="menu">
            <nav>
                <ul>
                    <li>
                        <a href="#" class="highlight" title="J'accède au menu"><img src="/img/burger.png" alt="Pictogramme d'un menu burger"></i></a>
                    </li>
                    <li>
                        <a href="#" class="highlight" title="Je recherche un mot, une série, ou ce que je veux"><img src="/img/loupe.png" alt="Pictogramme d'une loupe"></i></a>
                    </li>
                    <li>
                        <a href={{path('lock', {'id':'1'})}} title="Besoin d'aide ? Lock, le Chat Bot d'Anky, est là pour vous aider !">
                            <img src="/img/hexagon.svg" alt="Hexagone">
                            <img src="/img/ankylochoups.svg" alt="Lock, Chat Bot d'Anky">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="highlight" title="Je jette un œil à toutes mes séries épinglées"><img src="/img/bookmark.png" alt="Pictogramme d'un marque page"></a>
                    </li>
                    <li>
                        <a href="#" class="actif highlight" title="J'accède à mon dashboard"><img src="/img/canva.png" alt="Pictogramme représentant 4 carrés, utilisé pour symboliser le dashboard"></a>
                    </li>
                </ul>
            </nav>
        </footer>
    </section>

    <script src="/script/epingle.js"></script>

{% endblock %}
