{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
{% endblock %}

{% block body %}

    {% for type, messages in app.flashes %}
        {% for un_message in messages %}
            <p class="alert alert-{{type}}">{{ un_message }}</p>
        {% endfor %}
    {% endfor %}

    <h1>Comptes - Admin</h1>

    {% if compte is empty %}
        <p>Aucun compte trouvé</p>
    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th>mail</th>
                    <th>mdp</th>
                    <th>username</th>
                    <th>birth</th>
                    <th>categorie</th>
                    <th>genre</th>
                    <th>modifier</th>
                    <th>supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for c in compte %}
                    <tr>
                        <th>{{ c.mail }}</th>
                        <th>{{ c.mdp }}</th>
                        <th>{{ c.username }}</th>
                        <th>{{ c.birth|date("d/m/Y") }}</th>
                        <th>
                            {% for categorie in c.categorie %}
                                {{categorie}}
                            {% else %}
                                Aucune catégorie
                            {% endfor %}
                        </th>
                        <th>
                            {% for genre in c.genre %}
                                {{genre}}
                            {% else %}
                                Aucun genre
                            {% endfor %}
                        </th>
                    </tr>
                {% endfor %}
            </tobdy>
        </table>
    {% endif %}

    {{ form(ajout) }}

{% endblock %}
