{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
{% endblock %}

{% block body %}

        {% for type, messages in app.flashes %}
            {% for un_message in messages %}
                <p class="alert alert-{{type}}">{{ un_message }}</p>
            {% endfor %}
        {% endfor %}

        <h1>Anky - ADMIN</h1>

        {% if lockMain is empty %}
            <p><em>$lockMain</em> est vide.</p>
        {% else %}
            <hr>
            <h2>Lock - Catégorie</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Text</th>
                        <th>Détails</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                {% for lm in lockMain %}
                    <tr>
                        <td>{{ lm.title }}</td>
                        <td>{{ lm.text }}</td>
                        <td><a href="{{path('lockMain_edit', {'id':lm.id } )}}"
                        class="btn btn-success">Voir</a></td>
                        <td><a href="{{ path('lockMain_delete', {'id':lm.id}) }}"
                        class="btn btn-danger">Supprimer</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <h4>Ajouter</h4>
        {{ form(ajout) }}

        <hr>
        <h2>Lock - Choix</h2>

        {% if lockQuestion is empty %}
            <p>Aucun choix n'a été trouvé</p>
        {% else %}
            <table class="table">
                <thead>
                    <tr>
                        <th>main</th>
                        <th>Texte</th>
                        <th>Link</th>
                        <th>Détails</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lq in lockQuestion %}
                        <tr>
                            <td>{{ lq.MainId.title }}</td>
                            <td>{{ lq.question }}</td>
                            <td>{{ lq.link }}</td>
                            <td><a href="{{path('lockQuestion_edit', {'id':lq.id } )}}"
                            class="btn btn-success">Voir</a></td>
                            <td><a href="{{path('lockQuestion_delete', {'id':lq.id } )}}"
                            class="btn btn-danger">Supprimer</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <h4>Ajouter</h4>
        {{ form(ajout2) }}

{% endblock %}
