{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
{% endblock %}

{% block body %}

    <main class="container">
        {# {{ dump(lockMain) }} #}

        {% for type, messages in app.flashes %}
            {% for un_message in messages %}
                <p class="alert alert-{{type}}">{{ un_message }}</p>
            {% endfor %}
        {% endfor %}

        <h1>Anky - ADMIN</h1>

        {% if lockMain is empty %}
            <p><em>$lockMain</em> est vide.</p>
        {% else %}
            <hr>
            <h2>Lock</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Title</th>
                        <th>Text</th>
                        <th>Détails</th>
                    </tr>
                </thead>
                <tbody>
                {% for lm in lockMain %}
                    <tr>
                        <td>{{ lm.id }}</td>
                        <td>{{ lm.title }}</td>
                        <td>{{ lm.text }}</td>
                        <td><a href="{{path('lockMain_edit', {'id':lm.id } )}}">
                        Voir</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <h4>Ajouter</h4>
        {{ form(ajout) }}
    </main>

{% endblock %}
