{% extends 'base.html.twig' %}

{% block body %}

    <section class="absolute chatbot">    

    <header>
        <a href={{path('mon-compte')}} alt="">
            <i class="fas fa-chevron-left"></i>
        </a>

        <img src="/img/hexagonAnky.svg" title="" class="lock">

        <a href="#" alt="">
            <i class="far fa-bell"></i>
        </a>
    </header>

    <main>

    <h1>Besoin d'aide ?</h1>

    {% for lm in lockMain %}
        {% if lm.id == etape %}

            <h2>{{ lm.title }}</h2>

            <article>
                <p>{{ lm.text }}</p>
            </article>

            <nav>
            {% for lq in lockQuestion %}
                {% if lq.MainId.id == etape %}
                    <a href={{ lq.link }}>{{ lq.question }}</a>
                {% endif %}
            {% endfor %}
            </nav>

        {% endif %}
    {% endfor %}

    </main>

    <footer>
        <nav>
            <ul>
                <li>
                    <a href="#" class="highlight"><img src="/img/burger.png" alt=""></i></a>
                </li>
                <li>
                    <a href="#" class="highlight"><img src="/img/loupe.png" alt=""></i></a>
                </li>
                <li>
                    <a href={{path('lock', {'id':'1'})}}>
                        <img src="/img/hexagon.svg" alt="">
                        <img src="/img/ankylochoups.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#" class="highlight"><img src="/img/bookmark.png" alt=""></a>
                </li>
                <li>
                    <a href={{path('mon-compte')}} class="actif highlight"><img src="/img/canva.png" alt=""></a>
                </li>
            </ul>
        </nav>
    </footer>

    </section>

{% endblock %}