<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
<<<<<<< ours
        <title>{% block title %}{% endblock %}</title>

        <meta name="description" content="Tu en as marre de te faire spoiler ? Adopte Anky, ton nouvel anti-spoil ! Grâce à Anky, tu n'as plus aucun soucis à te faire en te baladant sur tes réseaux sociaux préférés. Adopte Anky pour profiter du degré 0 du risque de spoil.">
        <meta name="keywords" content="Anky, anti-spoil, anti-spoiler, series, serie, protection, protect, no spoil, nospoil, spoil, spoiler">
        <meta name="author" content="Benjamin Bourgouin, Benjamin Burkarth, Antonin Msika, Nicolas Vachet Geloso">

        <link rel="icon" href="/img/icon.png">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">

        <script src="https://kit.fontawesome.com/ab83a38189.js" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="{{asset('/css/variables.css')}}">
        <link rel="stylesheet" href="{{asset('/css/reset.css')}}">
        <link rel="stylesheet" href="{{asset('/css/background.css')}}">

        <link rel="stylesheet" href="{{asset('/css/header.css')}}">
        <link rel="stylesheet" href="{{asset('/css/menu.css')}}">
        
        {% block stylesheets %}
        {% endblock %}

=======
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
>>>>>>> theirs
    </head>
    <body>
        <div class="background"></div>
        
        {% block body %}
        {% endblock %}

    </body>
</html>
