<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>

        <meta name="description" content="Tu en as marre de te faire spoiler ? Adopte Anky, ton nouvel anti-spoil ! Grâce à Anky, tu n'as plus aucun soucis à te faire en te baladant sur tes réseaux sociaux préférés. Adopte Anky pour profiter du degré 0 du risque de spoil.">
        <meta name="keywords" content="Anky, anti-spoil, anti-spoiler, series, serie, protection, protect, no spoil, nospoil, spoil, spoiler">
        <meta name="author" content="Benjamin Bourgouin, Benjamin Burkarth, Antonin Msika, Nicolas Vachet Geloso">

        <link rel="icon" href="/img/icon.png">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">

        <script src="https://kit.fontawesome.com/ab83a38189.js" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="{{asset('/css/variables.css')}}">
        <link rel="stylesheet" href="{{asset('/css/reset.css')}}">
        <link rel="stylesheet" href="{{asset('/css/background.css')}}">

        <link rel="stylesheet" href="{{asset('/css/header.css')}}">
        <link rel="stylesheet" href="{{asset('/css/menu.css')}}">

        {# <link rel="stylesheet" href="{{asset('/css/welcome.css')}}"> #}
        {# <link rel="stylesheet" href="{{asset('/css/register.css')}}"> #}
        {# <link rel="stylesheet" href="{{asset('/css/login.css')}}"> #}
        {# <link rel="stylesheet" href="{{asset('/css/loader.css')}}"> #}
        {# <link rel="stylesheet" href="{{asset('/css/dashboard.css')}}"> #}
        {# <link rel="stylesheet" href="{{asset('/css/details.css')}}"> #}
        <link rel="stylesheet" href="{{asset('/css/chatBot.css')}}">
        <link rel="stylesheet" href="{{asset('/css/social.css')}}">
        
        {% block stylesheets %}

        {% endblock %}

    </head>
    <body>
        <div class="background"></div>
        
        {% block body %}
        {% endblock %}

    </body>
</html>
